body{
    padding:0;
    margin:0;
    font-family: helvetica;
    height:100%;

}
.html{
    height:100%;
}

/*-----------------------Header---------------------*/

.header{
    position:fixed;
    top:0px;
    left:0px;
    z-index:500;
    width:100%;
    height:80px;
    background-image: url('images/wood-bg.png');
    background-repeat: repeat-x;
}
.header img{
    display:block;
    margin:auto;
    height:70%;
    padding-top:15px;
}

/*-----------------------Nav-Bar---------------------*/

.nav-bar{
    position: fixed;
    top:80px;
    left:0px;
    z-index: 500;
    width:100%;
    height:40px;
    background-color: darkgreen;
}
.nav-bar a{
    float: left;
    display: block;
    width:33%;
    height:35%;
    text-align: center;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding-top:12px;
}

/*-----------------------Main-Body---------------------*/
.main-body{
    margin-top: 120px;
}
    

/*-----------------------Footer---------------------*/

.footer{
    position:fixed;
    bottom: 0;
    left:0;
    z-index: 500;
    width:100%;
    height:45px;
    background-color: forestgreen;
}
.footer a{
    float:left;
    display:block;
    width:50%;
    height:45px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top:10px;
    
}

/*-----------------------Animal page - Container---------------------*/

.container{
    margin-top:120px;
    background: url('images/map-blur.png');
    background-repeat: repeat-y;
    
}
.content{
      padding-top: 1px;
      padding-bottom: 50px;
  
}

/*----------------------------Info-Box---------------------*/

a.info-box{
     text-decoration: none;
     background: rgba(255,255,255,0.8);
     display:block;
     width:90%;
     height:90px;
     margin:auto;  
     margin-top:12px;
     padding:1px;
}

.info-box img{
    height:70px;
    margin:10px;
    float:left;
    align-items: center;
}

.info-box h3{
    padding:0;
    margin-bottom:0;
    width:90%;
    color:saddlebrown;
    
}
.info-box p{
    padding:0;
    margin:0;
    width:90%;
    font-weight:500;
    font-size:15px;
    color:darkslategrey;
}
.info-box img.right{
    float:right;
    height:40px;
    margin:25px;
}

/*---------------------------------Info-Box-Full---------------------------------*/

.info-box-full{
    background: rgba(255,255,255, .8);
    display: block;
    width:90%;
    margin:auto;
    margin-top:12px;
    padding:10px;

}
.info-box-full img{
  width:100%;
}
.info-box-full h3{
    text-align: center;
}
.info-box-full p{
    font-family:sans-serif;
   
}



/*---------------------------------Weather Page---------------------------------*/
img.info-box-weather-icon{
    height:30px;
    width:30px !important;
    margin: 10px;
    float:left;
}
h1.info-box-weather-icon{
    font-size:65px;
    font-weight: 200;
    padding:0;
    margin:0;
}
table{
   width:100%;
    
}
td{
   border-top: 1px solid #131313;
}
 
/*--------------------------------- Feedback Form ---------------------------------*/
input{
    width:100%;
    height:25px;
    margin:12px 0;
    border:1px solid #929292;
}
textarea{
    width:100%;
    height:65px;
    margin:12px 0;
    border:1px solid #929292;
}
.button{
    display:block;
    width:100%;
    background-color:forestgreen;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size:16px;
    font-weight:600;
    margin:12px 0;
    padding:8px 0;
    
}











